﻿@model reliableTransApp.Models.DataBaseContext.Town

@{
    ViewBag.Title = "Details";
}
@section nav {
	@Html.Partial("_TopNavPartial")
}
<h2>Details</h2>

<fieldset>
    <legend>Town</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
