﻿@model IEnumerable<reliableTransApp.Models.DataBaseContext.Town>

@{
    ViewBag.Title = "Index";
}
@section nav {
	@Html.Partial("_TopNavPartial")
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Создать новый", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
						@Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Подробно", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
