﻿<div id="address-data">
	<input type="hidden" class="address-id" />
	<fieldset>
		<legend>Адрес</legend>
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-2">
						<label>Город</label>
					</div>
					<div class="col-md-8">
						<div class="dropdown">
							<input data-toggle="dropdown" class="form-control input-sm town-chooser" type="text" placeholder="Начните вводит город">
							<ul class="dropdown-menu dropdown-town" role="menu">
							</ul>
						</div>
					</div>
					<div class="col-md-2">
						<a href="#" data-dismiss="modal" title="Добавить новый город" class="create-town"><span class="glyphicon glyphicon-plus"></span></a>
					</div>
				</div>
				<div class="form-control address-town-name">Город не выбран</div>
				<input type="hidden" class="address-town-id" />
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Улица</label>
					<input type="text" class="form-control address-street" placeholder="Введите улицу">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Дом</label>
					<input type="text" class="form-control address-house" placeholder="Введите дом">
				</div>
			</div>
		</div>
	</fieldset>
</div>