﻿<div class="contact-data">
	<fieldset>
		<legend>Контактная информация:</legend>
		<input type="hidden" id="contact-id" />
		<div class="row">
			<div class="col-md-3">
				Номера телефонов:
				<div class="contact-phones">
				</div>
				<input type="text" class="form-control creater-phone" />
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-3">
				Электронные адреса:
				<div class="contact-emails">
				</div>
				<input type="text" class="form-control creater-email" />
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-3">
				Факсы:
				<div class="contact-faxes">
				</div>
				<input type="text" class="form-control creater-fax" />
			</div>
			<div class="col-md-1">
			</div>
		</div>
	</fieldset>
</div>
