﻿<div id="data-customer-irb">

	@* Модальное окно для добавления города *@
	<div class="modal fade town-form" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Добавление нового города</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="name">Название города</label>
						<input type="text" class="form-control town-name" placeholder="Название города">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
					<button type="button" class="btn btn-primary town-add">Добавить</button>
				</div>
			</div>
		</div>
	</div>

	@* Для добавления клиента индивидуальное лица РБ *@
	<div class="modal fade customer-form" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 1000px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Добавить индивидуальное лицо РБ</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="name">Фамилия</label>
								<input type="text" class="form-control customer-surname" placeholder="Введите фамилию" />
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="count">Имя</label>
								<input type="text" class="form-control customer-name" placeholder="Введите имя" />
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="lenght">Отчество</label>
								<input type="text" class="form-control customer-patronymic" placeholder="Введите отчество" />
							</div>
						</div>
					</div>
					@* Паспортные данные *@
					@Html.Partial("_PassportDataPartial")
					@* Контактные данные *@
					@Html.Partial("_ContactDataPartial")
					@* Адрес *@
					@Html.Partial("_AddressPartial")
					<div class="form-group">
						<label for="width">Заметка</label>
						<textarea class="form-control customer-note"  rows="3" placeholder="Дополнительные сведения"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
					<button type="button" class="btn btn-primary customer-add">Добавить</button>
				</div>
			</div>
		</div>
	</div>

</div>
