﻿<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>@ViewBag.Title</title>
	<link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
	<link href="~/Content/themes/Style.css" rel="stylesheet" />
	<link href="~/Content/Statuses.css" rel="stylesheet" />
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="~/Scripts/html5shiv.js"></script>
			<script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
	@Styles.Render("~/Content/themes/base/jquery-ui.css")
	@*@Scripts.Render("~/bundles/modernizr")*@
	@RenderSection("styles", false)
</head>
<body style="height: 100%">
	@* Верхняя панель навигации *@
	<div class="container" style="height: 100%;">

		@RenderSection("nav", false)
		<div style="height: 100%;">
			<div style="height: 100%">
				@RenderBody()
				@*@Scripts.Render("~/bundles/jquery")*@
				@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
				@Scripts.Render("~/Scripts/jquery.json-2.4.min.js")
				@Scripts.Render("~/Scripts/jquery-ui-1.10.3.js")
				@Scripts.Render("~/Scripts/jquery.validate.min.js")
				@Scripts.Render("~/Scripts/bootstrap.min.js")
				@Scripts.Render("~/Scripts/reliableTrans.js")
				@RenderSection("scripts", required: false)
			</div>
			<footer style="border-top: 2px solid #808080; height: 22px; margin-top: -22px;">
				<p>&copy; ООО "РелайбТранс 2013"</p>
			</footer>
		</div>
	</div>
</body>
</html>
