﻿@if (Request.IsAuthenticated)
{
	<text>
	Вы вошли как, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Управление" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
				{
					@Html.AntiForgeryToken()
					<a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
				}
	</text>
}