﻿<div class="passport-data">
	<fieldset>
		<legend>Паспортные данные:</legend>
		<input type="hidden" id="passport-id" />
		<div class="row">
			<div class="col-md-1">
				<div class="form-group">
					<label for="lenght">Серия</label>
					<input type="text" class="form-control passport-series" placeholder="Серия">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="lenght">Номер паспорта</label>
					<input type="text" class="form-control passport-number" placeholder="Номер паспорта">
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<label for="lenght">Когда выдан</label>
					<input class="datepicker form-control passport-date-issues" type="datetime" value="" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="lenght">Кем выдан</label>
					<input type="text" class="form-control passport-issues-by" placeholder="Кем выдан">
				</div>
			</div>
		</div>
	</fieldset>
</div>