﻿@model reliableTransApp.Models.DataBaseContext.Status
@using reliableTransApp.Models.DataBaseContext;

@{ 
		
	Status stat = (Status)Enum.Parse(typeof(Status), Model.ToString());

	switch (stat)
	{
		case Status.Saved:
	<span class="label label-default">Сохранено</span>
			break;
		case Status.Adopted:
	<span class="label label-primary">Заказ принят</span>
			break;
		case Status.Send:
	<span class="label label-success">Передан курьеру</span>
			break;
			case Status.TakeBack:
	<span class="label label-info">Получен</span>
			break;
			case Status.Delivered:
	<span class="label label-warning">Доставлен</span>
			break;
			case Status.Invoice:
	<span class="label label-danger">Счет выставлен</span>
			break;



	}

}



