﻿	<nav class="navbar navbar-inverse" role="navigation">
	@* navbar-default *@
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
		@*<img width="210" height="20" src="~/Images/Logo/Logo-big.png" />*@
    <a class="navbar-brand" href="#">Brand</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Выбрать журнал <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="~/Journal/ViewJournalRB">Журнал экспрес РБ</a></li>
          <li><a href="~/Journal/ViewJournalRF">Журнал экспрес РФ</a></li>
          <li><a href="~/Journal/ViewExpedition">Журнал экспедиция</a></li>
          <li class="divider"></li>
          <li><a href="~/Journal/Summary">Сводный журнал</a></li>
        </ul>
      </li>
			@* class="active" *@
			<li ><a href="~/Town">Города</a></li>
      <li><a href="~/Customer">Клиенты</a></li>
      <li><a href="~/AdminPanel">Кабинет</a></li>
    </ul>

    <div class="nav navbar-nav navbar-right">
     	<section id="login">
					@Html.Partial("_LoginPartial")
				</section>
    </div>
  </div><!-- /.navbar-collapse -->
</nav>