﻿@model reliableTransApp.Models.DataBaseContext.ExpressRB

@section Styles {
	@Styles.Render("~/Content/Validate.css")
}

@{
	ViewBag.Title = "Экспресс РБ";
}

<div class="container ">
	
	@* Модальное окно для добавления груза *@
	<div class="modal fade" id="createCargo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<form id="cargo_form">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Добавить груз</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="name">Наименование</label>
						<input type="text" class="form-control" id="name" name="cargo_name" placeholder="Введите наименование груза">
					</div>
					<div class="form-group">
						<label for="count">Количество</label>
						<input type="text" class="form-control" id="count" name="cargo_count" placeholder="Введите количество">
					</div>
					<div class="form-group">
						<label for="lenght">Длина</label>
						<input type="text" class="form-control" id="lenght" name="cargo_lenght" placeholder="Введите длину">
					</div>
					<div class="form-group">
						<label for="width">Ширина</label>
						<input type="text" class="form-control" id="width" name="cargo_width" placeholder="Введите ширину">
					</div>
					<div class="form-group">
						<label for="height">Высота</label>
						<input type="text" class="form-control" id="height" name="cargo_height" placeholder="Введите высоту">
					</div>
					<div class="form-group">
						<label for="weight">Вес</label>
						<input type="text" class="form-control" id="weight" name="cargo_weight" placeholder="Введите вес">
					</div>
						
					
				


				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
					<input type="submit" class="btn btn-primary" id="btnAddCargoInTable" value="Добавить">
				</div>
			</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="select-customer-type" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Добавление клиента</h4>
				</div>
				<div class="modal-body">
					<ul class="nav nav-pills nav-stacked" data-dismiss="modal">
						<li><a data-toggle="modal" href="#data-customer-irb .customer-form">Физическое лицо Республики Беларусь</a></li>
						<li><a href="#">Юридическое лицо Республики Беларусь</a></li>
						<li><a href="#">Физическое лицо Российской Федерации</a></li>
						<li><a href="#">Юридическое лицо Российской Федерации</a></li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	@Html.Partial("_CustomerIRBPartial")

	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
	      
@* Это верхняя полоска ей цвет показывает текущий статус заказа *@
		<div class="row" style="background-color: #d8e0ff">
			<div class="col-md-12" style="height: 7px; background-color: blue;">
			</div>
		</div>
	   
		<div class="row " style="background-color: #e7eff1; padding-bottom: 5px; padding-top: 5px;">
			<div class="col-md-3">
				<h4>Форма заказа: Экспресс РБ</h4>
				@*<h6>Номер адресного бланка:</h6>*@

				<div class="input-group input-group-sm ">
					<span class="input-group-addon">№ АБ:</span>
					<input type="text" class="form-control " name="BlankNumber" id="fr_numberAddressBlank" placeholder="Номер адресного бланка">
				</div>

			</div>
			<div class="col-md-2">
			</div>

			<div class="col-md-4">

				<br />
				<br />

				<div class="input-group input-group-sm ">
					<span class="input-group-addon">Состояние заказа:</span>

					<select class="form-control" id="Status" name="Status">
						@foreach (var status in ViewBag.Statuses) {	 
							<option value="@status.Value">@status.Description</option>
			}
					</select>
				</div>





			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-2">
				<a href="~/Journal/ViewJournalRB" class="btn btn-default btn-xs btn-block">Отменить </a>
				<br />
				<input type="submit"  onclick= "return checkExpressRB(this);" class="btn btn-primary btn-sm btn-block" value="Применить" />
			</div>
			<br />
		</div> @*Конец верхнего блока*@

		<hr style="margin-top: 8px; margin-bottom: 8px;" />

		<div class="row ">
			<div class="col-md-3">
				<div class="form-group">
					<label for="DateLoading">Дата погрузки:</label>
					<input class="datepicker form-control" data-val="true" data-val-date="Поле DateLoading должно содержать дату." data-val-required="Требуется поле DateLoading." id="DateLoading" name="DateLoading" type="datetime" value="@DateTime.Now.ToString("d")" />
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="DateUnloading">Дата разгрузки:</label>
					<input class="datepicker form-control" data-val="true" data-val-date="Поле DateUnloading должно содержать дату." data-val-required="Требуется поле DateUnloading." id="DateUnloading" name="DateUnloading" type="datetime" value="@DateTime.Now.AddDays(1).ToString("d")" />
					@*@Html.EditorFor(Model => Model.DateLoading)*@
				</div>
			</div>

			<div class="col-md-3">
					<label for="courier-one">Курьер  отправки</label>
						<div class="editor-field">
							<div class="dropdown">
								<input data-toggle="dropdown" type="text" id="courier-one" name="courier-one" class="form-control" autocomplete="off" />
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="dropDown_courier-one">
								</ul>
							</div>
						</div>
						<input type="hidden" id="courier-one-id" name="CourierOneId" />

						<div id="courier-one-context">
							<p>не выбран</p>
						</div>
			</div>

			<div class="col-md-3">
			<label for="courier-two">Курьер  забора</label>
						<div class="editor-field">
							<div class="dropdown">
								<input data-toggle="dropdown" type="text" id="courier-two" name="courier-two" class="form-control" autocomplete="off" />
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="dropDown_courier-two">
								</ul>
							</div>
						</div>
						<input type="hidden" id="courier-two-id" name="CourierTwoId" />
						<div id="courier-two-context"> 
							<p>не выбран</p>
						</div>
			</div>
		</div>@*Конец блок ROW*@
	 
		<hr style="margin-top: 8px; margin-bottom: 8px;" />
	 
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="editor-label">
							@Html.Label("Отправитель:")
							<a data-toggle="modal" href="#select-customer-type" title="Добавить нового клиента">Добавить</a>
						</div>
						<div class="editor-field">
							<div class="dropdown">
								<input data-toggle="dropdown" type="text" id="Sender" name="Sender" class="form-control" autocomplete="off" />
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="dropDown_sender">
								</ul>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<input type="hidden" id="SenderId" name="SenderId" />
						<div id="SenderContext">
							<p>не выбран</p>
						</div>
					</div>
				</div>

			</div>

		


	 


			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">

						<div class="editor-label">
							@Html.Label("Получатель:")
							<a data-toggle="modal" href="#data-customer-irb .customer-form" title="Добавить нового клиента">Добавить</a>
						</div>
						<div class="editor-field">
							<div class="dropdown">
								<input data-toggle="dropdown" type="text" id="Recipient" name="Recipient" class="form-control" autocomplete="off" />
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="dropDown_recipient">
								</ul>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<input type="hidden" id="RecipientId" name="RecipientId" />
						<div id="RecipientContext">
							<p>не выбран</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="editor-label">
							@Html.Label("Плательщик:")
							<a data-toggle="modal" href="#" title="Добавить нового клиента"><span style="font-size: large;" class="glyphicon glyphicon-plus"></span></a>
						</div>
						<div class="editor-field">
							<input type="text" id="Payer" name="Payer" class="form-control" readonly="readonly" />
						</div>
					</div>
					<div class="panel-body">
						<p>не выбран</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div >
					<div style="float:left;">Груз</div> 
					<div style="float:left; margin-left:10px;" > <a data-toggle="modal" href="#createCargo">Добавить</a></div>
					<div style="right:0; margin: 0 0 0 auto; width: 180px; height:16px;"><a href="javascript:setCost();">Пересчитать стоимость</a></div>
				</div>
				<div>
					<table id="CargoesTable" class="table table-hover">
						<thead>
							<tr>
								<th>Наименование</th>
								<th>Количество</th>
								<th>Длина</th>
								<th>Ширина</th>
								<th>Высота</th>
								<th>Вес</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-4">




				<div>
					<div class="editor-label">
						@Html.Label("Стоимость:") руб. рб.
					</div>
					<div class="editor-field">
						<input type="text" class="form-control" readonly="readonly" id="Price" name="Price"/>
					</div>
				</div>

				<div class="btn-group btn-group-xs btn-group-justified" data-toggle="buttons">
					<label class="btn btn-primary" title="Инфивидуальный тариф">
						<input type="radio" name="options" id="1">
						Индивид. тариф
					</label>
					<label id="standart-rate" class="btn btn-primary active" title="Основной тариф">
						<input type="radio" name="options" id="2" checked>
						Основн. тариф
					</label>
					<label class="btn btn-primary" title="Согласованная ставка">
						<input type="radio" name="options" id="3">
						Согласов. ставка
					</label>
				</div>
			</div>
		</div>
 }
</div>


	@section Scripts {
		@Scripts.Render("~/Scripts/JournalRB/Create.js")
		@Scripts.Render("~/Scripts/cargoValidate.js")
	  @Scripts.Render("~/Scripts/formCostCargo.js");
		@Scripts.Render("~/Scripts/formValidate.js");
	}





