﻿@model reliableTransApp.Models.DataBaseContext.ExpressRB

@section Styles {
	@Styles.Render("~/Content/themes/base/jquery-ui.css")
}

@{
	ViewBag.Title = "Экспресс РБ";
}

<div class="container ">
	@* Модальное окно для добавления груза *@
	<div class="modal fade" id="createCargo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Добавить груз</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="name">Наименование</label>
						<input type="text" class="form-control" id="name" placeholder="Введите наименование груза">
					</div>
					<div class="form-group">
						<label for="count">Количество</label>
						<input type="text" class="form-control" id="count" placeholder="Введите количество">
					</div>
					<div class="form-group">
						<label for="lenght">Длина</label>
						<input type="text" class="form-control" id="lenght" placeholder="Введите длину">
					</div>
					<div class="form-group">
						<label for="width">Ширина</label>
						<input type="text" class="form-control" id="width" placeholder="Введите ширину">
					</div>
					<div class="form-group">
						<label for="height">Высота</label>
						<input type="text" class="form-control" id="height" placeholder="Введите высоту">
					</div>
					<div class="form-group">
						<label for="weight">Вес</label>
						<input type="text" class="form-control" id="weight" placeholder="Введите вес">
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
					<button type="button" class="btn btn-primary" id="btnAddCargoInTable">Добавить</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="select-customer-type" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Добавление клиента</h4>
				</div>
				<div class="modal-body">
					<ul class="nav nav-pills nav-stacked" data-dismiss="modal">
						<li><a data-toggle="modal" href="#data-customer-irb .customer-form">Физическое лицо Республики Беларусь</a></li>
						<li><a href="#">Юридическое лицо Республики Беларусь</a></li>
						<li><a href="#">Физическое лицо Российской Федерации</a></li>
						<li><a href="#">Юридическое лицо Российской Федерации</a></li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	@Html.Partial("_CustomerIRBPartial")

	@using (Html.BeginForm())
 {
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
	      
		<div class="row">
			<div class="col-md-3">
				<h4><strong>Форма заказа: Экспресс РБ</strong></h4>
				<input type="hidden" name="Id" value="@Model.Id" />
			</div>
			<div class="col-md-3">
				<select class="form-control" name="Status">
					@foreach (var status in ViewBag.Statuses)
		 {
				 if (@Model.Status.Equals(@status.NameEnum))
				 {
						<option value="@status.Value" selected>@status.Description</option>
				 }
				 else
				 {
						<option value="@status.Value">@status.Description</option>		
				 }

			 }
				</select>
			</div>

			<div class="col-md-3">
				<h4>Номер адресного бланка:</h4>



			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" name="NumberAddressBlank" id="fr_numberAddressBlank" readonly="readonly">
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="DateLoading">Дата погрузки:</label>
					<input class="datepicker form-control" data-val="true" data-val-date="Поле DateLoading должно содержать дату." data-val-required="Требуется поле DateLoading." id="DateLoading" name="DateLoading" type="datetime" value="@Model.DateLoading.ToString()" />
					@*@Html.EditorFor(Model => Model.DateLoading)*@
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="DateUnloading">Дата разгрузки:</label>
					<input class="datepicker form-control" data-val="true" data-val-date="Поле DateUnloading должно содержать дату." data-val-required="Требуется поле DateUnloading." id="DateUnloading" name="DateUnloading" type="datetime" value="@Model.DateUnloading.ToString()" />
					@*@Html.EditorFor(Model => Model.DateLoading)*@
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="name">Курьер  отправки</label>
					<input type="text" class="form-control" readonly="readonly" />
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="name">Курьер забора </label>
					<input type="text" class="form-control" readonly="readonly" />
				</div>
			</div>
		</div>@*Конец блок ROW*@
	 
		<hr />
	 
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="editor-label">
							@Html.Label("Отправитель:")
							<a data-toggle="modal" href="#select-customer-type" title="Добавить нового клиента">Добавить</a>
						</div>
						<div class="editor-field">
							<div class="dropdown">
								<input data-toggle="dropdown" type="text" id="Sender" name="Sender" class="form-control" autocomplete="off" />
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="dropDown_sender">
								</ul>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<input type="hidden" id="SenderId" name="SenderId" value="@Model.SenderId"/>
						<div id="SenderContext">
							@Model.Sender.GetName()
						</div>
					</div>
				</div>

			</div>
			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">

						<div class="editor-label">
							@Html.Label("Получатель:")
							<a data-toggle="modal" href="#data-customer-irb .customer-form" title="Добавить нового клиента">Добавить</a>
						</div>
						<div class="editor-field">
							<div class="dropdown">
								<input data-toggle="dropdown" type="text" id="Recipient" name="Recipient" class="form-control" autocomplete="off" />
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="dropDown_recipient">
								</ul>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<input type="hidden" id="RecipientId" name="RecipientId" value="@Model.RecipientId"/>
						<div id="RecipientContext">
							@Model.Recipient.GetName()
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="editor-label">
							@Html.Label("Плательщик:")
							<a data-toggle="modal" href="#" title="Добавить нового клиента"><span style="font-size: large;" class="glyphicon glyphicon-plus"></span></a>
						</div>
						<div class="editor-field">
							<input type="text" id="Payer" name="Payer" class="form-control" readonly="readonly" />
						</div>
					</div>
					<div class="panel-body">
						<p>не выбран</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="editor-label">
					Груз      <a data-toggle="modal" href="#createCargo">Добавить</a>
				</div>
				<div>
					<table id="CargoesTable" class="table table-hover">
						<thead>
							<tr>
								<th>Наименование</th>
								<th>Количество</th>
								<th>Длина</th>
								<th>Ширина</th>
								<th>Высота</th>
								<th>Вес</th>
							</tr>
						</thead>
						<tbody>

							
				@{int i = 0;			
	 foreach(var cargo in Model.Cargos ) {
							<tr>
								<td> 
									<input name="Cargoes[@i].Id" type="hidden" value="@cargo.Id">
									<input name="Cargoes[@i].Name" type="hidden" value="@cargo.Name">@cargo.Name
								</td>
								<td> 
									<input name="Cargoes[@i].Count" type="hidden" value="@cargo.Count">@cargo.Count
								</td>
								<td> 
									<input name="Cargoes[@i].Lenght" type="hidden" value="@cargo.Lenght">@cargo.Lenght
								</td>
								<td> 
									<input name="Cargoes[@i].Width" type="hidden" value="@cargo.Width">@cargo.Width
								</td>
								<td> 
									<input name="Cargoes[@i].Height" type="hidden" value="@cargo.Height">@cargo.Height
								</td>
								<td> 
									<input name="Cargoes[@i].Weight" type="hidden" value="@cargo.Weight">@cargo.Weight
								</td>
							</tr>
	 }
	 }			


						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-4">
				<div>
					<div class="editor-label">
						@Html.Label("Стоимость:") руб. рб.
					</div>
					<div class="editor-field">
						<input type="text" class="form-control" readonly="readonly" />
					</div>
				</div>

				@*<div class="btn-group" data-toggle="buttons" style="width:100%;">*@


				@*<label class="btn btn-default option11" style="width:33%;" >
								<input type="radio" name="options" id="option1">
								ИТ
							</label>
							<label class="btn btn-default option11" style="width:33%;">
								<input type="radio" name="options" id="option2">
								ОТ
							</label>
					
							<label class="btn btn-default active" style="width:34%;">
								<input type="radio" name="options" id="option3">
								Согласованная
							</label>*@


				@*</div>*@

			</div>
		</div>
		<div class="footer">
			<input type="submit" class="btn btn-success" value="Соханить изменения" />
			<a href="~/Journal/ViewJournalRB" class="btn btn-default">Отменить </a>
		</div>
 }

	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
		@Scripts.Render("~/Scripts/JournalRB/Create.js")
	}
</div>
