﻿@{
	ViewBag.Title = "Журнал";
}

@section nav {
	@Html.Partial("_TopNavPartial")
}
<div class="row">

	@* Левая панель навигации по городам *@
	<div class="col-md-2" style="height: 500px">
		<div class="panel panel-default"
			style="height: 50%;">
			<div class="panel-heading">Импорт</div>
			<div class="panel-body" style="height: 85%; overflow: scroll;">
				<ul>
					@foreach (var town in ViewBag.Towns)
				{
						<li><a href="javascript:alert('Не реализовано');">@town.Name</a></li>
			 }
				</ul>
			</div>
		</div>

		<div class="panel panel-default" style="height: 50%;">
			<div class="panel-heading">Экспорт</div>
			<div class="panel-body" style="height: 85%; overflow: scroll;">
				<ul>
					@foreach (var town in ViewBag.Towns)
		 {
						<li><a href="javascript:alert('Не реализовано');">@town.Name</a></li>
		 }
				</ul>
			</div>
		</div>

	</div>
	@* End левая панель по городам*@

	@* Основнаю часть, *@
	<div class="col-md-10">
		<h4>Журнал, экспресс РБ:</h4>
		<div class="well well-sm">
			<a class="btn btn-success" href="~/Journal/CreateExpressRB"><span class="glyphicon glyphicon-plus"></span>| Заявка</a>
			<a class="btn " href="javascript:alert('Не реализовано');">Не переданные</a>
			<a class="btn " href="javascript:alert('Не реализовано');">Не забранные</a>
			<a class="btn " href="javascript:alert('Не реализовано');">Не доставленные</a>
			<a data-toggle="modal" class="btn btn-warning" href="javascript:alert('Не реализовано');">Другие фильтры ...</a>
			<a class="btn btn-primary" href="~/Journal/Summary">Сводный журнал</a>
		</div>

		<div class="panel-group" id="accordion">
			@{ int counterStak = 0;
			foreach (var itemCollectionExpressRBSortedByDate in ViewBag.CollectionExpressRBSortedByDate)
				 {
							 String idPanel = "collapse" + counterStak;
											String idPanelSharp = "#" + idPanel;
											counterStak++;
										
				<div class="panel panel-default">

					<div class="panel-heading">
						<h4 class="panel-title">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="@idPanelSharp">@itemCollectionExpressRBSortedByDate[0].DateUnloading.ToString("d")</a>
						</h4>
					</div>

					<div id="@idPanel" class="panel-collapse collapse input-sm">
						<div class="panel-body">
							<table class="table table-hover">
								<thead>
									<tr>

										<th>Отправитель</th>
										<th>Получатель</th>
										<th>Груз</th>
										<th>Вес/Объем</th>
										<th><a href="#" class="wnd_withPrint">Курьер забора</a></th>
										<th></th>
									</tr>
								</thead>

								<tbody>
									@foreach (var expressRB in itemCollectionExpressRBSortedByDate)
				 {
										<tr>

											<td>
												@expressRB.Sender.GetName()
											</td>
											<td>
												@expressRB.Recipient.GetName()
											</td>
											<td>Описание</td>
											<td>Вес</td>
											<td><a href="#" class="wnd_withPrint">Фамилия
												<br />
												Имя<br />
												Отчество</a></td>
											<td>
												<div>
													@Html.Partial("_StatusPartial", (object)expressRB.Status)
												</div>
												<div>
													<a href="#" title="Подробно"><span class="glyphicon glyphicon-eye-open" style="margin-right: 7px;"></span></a> 
													<a href="~/Journal/EditExpressRB?Id=@expressRB.Id" title="Редактировать"><span class="glyphicon glyphicon-pencil" style="margin-right: 7px;"></span></a> 
													<a href="#" title="Удалить"><span class="glyphicon glyphicon-remove"></span></a>
												</div>
											</td>

										</tr>
						 }
								</tbody>
							</table>
						</div>
					</div>


				</div>
			
						 }@* Внешний forech end *@
			}
		</div>
		@*Accordion end*@



	</div>
	@* End right panel col-md-8 *@
</div>
@* End owner row *@


@section Scripts {
}

