﻿@{
    ViewBag.Title = "Index";
}

@section nav {
	@Html.Partial("_TopNavPartial")
}

<h2>Панель администратора</h2>

<ul>
	@*<li><a href="#">Управление пользователя</a></li>*@
	<li><a href="~/Account/">Список диспетчеров</a></li>
	<li><a href="~/Courier">Список водителями</a></li>
	<li><a href="~/Town">Список городов (Импорт/Экспорт)</a></li>
	<li><a href="~/Tariffs">Управление тарифами</a></li>
</ul>