﻿@model reliableTransApp.Models.DataBaseContext.Courier

@{
	ViewBag.Title = "Добавление нового водителя";
}

@section nav {
	@Html.Partial("_TopNavPartial")
}

<h3>Сведения о транспорте</h3>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()

	<div class="row">
		<div class="col-md-3">

			<div class="form-group">
				<label for="lenght">Дата выдачи путевого листа</label>
				<input class="datepicker form-control passport-date-issues" name="DataIssueWayBill" type="datetime" value="" />
			</div>

			@Html.LabelFor(m => m.Car.CarBrand)
			@Html.TextBoxFor(m => m.Car.CarBrand, new { @class = "form-control", @type = "text", @placeholder = "Марка автомобиля" })

			@Html.LabelFor(m => m.Car.LicensePlate)
			@Html.TextBoxFor(m => m.Car.LicensePlate, new { @class = "form-control", @type = "text", @placeholder = "Номер автомобиля" })

			@Html.LabelFor(m => m.Car.CubicCapacity)
			@Html.TextBoxFor(m => m.Car.CarBrand, new { @class = "form-control", @type = "text", @placeholder = "Грузовой объем" })

			@Html.LabelFor(m => m.Car.WeightCapacity)
			@Html.TextBoxFor(m => m.Car.CarBrand, new { @class = "form-control", @type = "text", @placeholder = "Вместимость по грузу" })


			@{
			var paymentTypes = new reliableTransApp.Models.PaymentTypeModel().GetAll();

				<label for="PaimentTypeId">Оплата работа</label>
			
				<select class="form-control" id="PaimentTypeId" name="PaimentTypeId">
					@foreach (var paymentType in paymentTypes) {	
						<option value="@paymentType.Id">@paymentType.Name</option>
		 }
				</select>
	
			}

			<br />
			<div>
				<input type="submit" class="form-control btn-primary" value="Сохранить" />
			</div>
			<div>
				<a href="~/Courier" class="form-control" style="text-align:center;" > Отмена </a>
			</div>
		</div>


	</div>
	
}


@section Scripts {
	@Scripts.Render("~/Scripts/addingCourierData.js")
}