﻿@model List<reliableTransApp.Models.UserProfile>

@{
	ViewBag.Title = "Перечень курьеров";
}

@section nav {
	@Html.Partial("_TopNavPartial")
}

<a href="~/Account/RegisterCourier">Добавить нового курьера</a>

<h2>Курьеры</h2>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Логин</th>
			<th>Имя</th>
			<th>Фамилия</th>
			<th>Отчество</th>
		</tr>
	</thead>
	<tbody>
		@foreach (reliableTransApp.Models.UserProfile userProfile in Model) {
			<tr>
				<td class="user-login">@userProfile.UserName</td>
				<td>@userProfile.Name</td>
				<td>@userProfile.Surname</td>
				<td>@userProfile.Patronymic</td>
				<td><a href="javascript:alert('Пока не реализованно')"><span class="glyphicon glyphicon-eye-open"></span></a></td>
				<td><a href="javascript:alert('Пока не реализованно')"><span class="glyphicon glyphicon-pencil"></span></a></td>
				<td><a href="~/Account/DeleteUser?userName=@userProfile.UserName"><span class="glyphicon glyphicon-remove"></span></a></td>
			</tr>
	}
	</tbody>
</table>

@section Scripts {
	@Scripts.Render("~/Scripts/manageCouriers.js")
}