﻿@model reliableTransApp.Models.UserProfile

@{
	ViewBag.Title = "Добавление нового водителя";
}

@section nav {
	@Html.Partial("_TopNavPartial")
}

<h3>Вы действительно хотите удалить пользователя @Model.Name @Model.Surname @Model.Patronymic ?</h3>

@using (Html.BeginForm()) {
	
	@*<input type="hidden" name="userName" value="@Model.UserName"/>*@
	
	<div class="row">
		<div class="col-md-8"></div>
		<div class="col-md-2"><a href="~/Courier">Отмена</a></div>
		<div class="col-md-2"><input type="submit" value="Удалить" /> </div>
	</div>
	
}