﻿@model reliableTransApp.Models.RegisterModel

@{
	ViewBag.Title = "Добавление нового водителя";
}

@section nav {
	@Html.Partial("_TopNavPartial")
}

<h4 style="margin-bottom: 20px;">Форма добавления нового работника, Вы можете пропустить этот шаг если он уже зарегистрирован</h4>


@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()

	
	<div class="row">
		@* Общие данные для всех работников организации *@
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-4">
					<div>
						@Html.LabelFor(m => m.UserName)
						@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @type = "text", @placeholder = "Логин пользователя" })
					</div>
					<div>
						@Html.LabelFor(m => m.Password)
						@Html.PasswordFor(m => m.Password, new { @class = "form-control", @type = "password", @placeholder = "Пароль" })
					</div>
					<div>
						@Html.LabelFor(m => m.ConfirmPassword)
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password", @placeholder = "Повторить пароль" })
					</div>
					<div>
						@Html.LabelFor(m => m.Name)
						@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @type = "text", @placeholder = "Имя" })
					</div>
					<div>
						@Html.LabelFor(m => m.Surname)
						@Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @type = "text", @placeholder = "Фамилия" })
					</div>
					<div>
						@Html.LabelFor(m => m.Patronymic)
						@Html.TextBoxFor(m => m.Patronymic, new { @class = "form-control", @type = "text", @placeholder = "Отчество" })
					</div>
				</div>

				<div class="col-md-8">
				
						<div>
							@Html.LabelFor(m => m.Address)
							@Html.TextBoxFor(m => m.Address, new { @class = "form-control", @type = "text", @placeholder = "Место проживания" })
						</div>
						<br />
						<div>
							<fieldset>
								<legend>Паспортные данные:</legend>
								<div class="row">
									<input type="hidden" id="passport-id" />
									<div class="col-md-2">
										@Html.LabelFor(m => m.PassportData.Series)
										@Html.TextBoxFor(m => m.PassportData.Series, new { @class = "form-control passport-series", @type = "text", @placeholder = "Серия" })
									</div>
									<div class="col-md-3">
										<div class="form-group">
											@Html.LabelFor(m => m.PassportData.Number)
											@Html.TextBoxFor(m => m.PassportData.Number, new { @class = "form-control passport-number", @type = "text", @placeholder = "Номер паспорта" })
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											@Html.LabelFor(m => m.PassportData.Issued)
											@Html.TextBoxFor(m => m.PassportData.Issued, new { @class = "datepicker form-control passport-date-issues", @type = "datetime", @placeholder = "Номер паспорта" })
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											@Html.LabelFor(m => m.PassportData.IssuedBy)
											@Html.TextBoxFor(m => m.PassportData.IssuedBy, new { @class = "form-control passport-issues-by", @type = "text", @placeholder = "Кем выдан" });
										</div>
									</div>

								</div>
								@*  end pass row*@
							</fieldset>
						</div>
						<div id="contacts">
							<fieldset>
								<legend>Контактная информация:</legend>
								<input type="hidden" id="contact-id" />
								<div class="row">
									<div class="col-md-4">
										Номера телефонов:
				<div class="contact-phones">
				</div>
										<input type="text" class="form-control creater-phone" />
									</div>

									<div class="col-md-4">
										Электронные адреса:
				<div class="contact-emails">
				</div>
										<input type="text" class="form-control creater-email" />
									</div>

									<div class="col-md-4">
										Факсы:
				<div class="contact-faxes">
				</div>
										<input type="text" class="form-control creater-fax" />
									</div>

								</div>
							</fieldset>
						</div>
					</div>

					<div id="hidden-contacts">
						<input type="hidden" />
			
				</div>
			</div>
		</div>
		@* Данные хранящиеся в таблице курьеров *@
		<div class="col-md-3">
			<div class="form-group">
				<label for="lenght">Дата выдачи путевого листа</label>
				<input class="datepicker form-control passport-date-issues" name="Courier.DateIssueWaybill" type="datetime" value="" />
			</div>

			@Html.LabelFor(m => m.Courier.Car.CarBrand)
			@Html.TextBoxFor(m => m.Courier.Car.CarBrand, new { @class = "form-control", @type = "text", @placeholder = "Марка автомобиля" })

			@Html.LabelFor(m => m.Courier.Car.LicensePlate)
			@Html.TextBoxFor(m => m.Courier.Car.LicensePlate, new { @class = "form-control", @type = "text", @placeholder = "Номер автомобиля" })

			@Html.LabelFor(m => m.Courier.Car.CubicCapacity)
			@Html.TextBoxFor(m => m.Courier.Car.CubicCapacity, new { @class = "form-control", @type = "text", @placeholder = "Грузовой объем" })

			@Html.LabelFor(m => m.Courier.Car.WeightCapacity)
			@Html.TextBoxFor(m => m.Courier.Car.WeightCapacity, new { @class = "form-control", @type = "text", @placeholder = "Вместимость по грузу" })


			@{
	var paymentTypes = new reliableTransApp.Models.PaymentTypeModel().GetAll();

				<label for="PaimentTypeId">Оплата работа</label>
			
				<select class="form-control" id="PaymentTypeId" name="Courier.PaymentTypeId">
					@foreach (var paymentType in paymentTypes) {	
						<option value="@paymentType.Id">@paymentType.Name</option>
		 }
				</select>
	
			}

			<br />
	<div>
		<div>
			<input type="submit" class="form-control btn-primary" onclick="castContactDataToSend()" value="Регистрация" />
		</div>
		<div>
			<a href="~/Courier" class="form-control" style="text-align: center;">Отмена </a>
		</div>
	</div>
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/Scripts/addingCourier.js")
}