﻿@model reliableTransApp.Models.RegisterModel

@{
	ViewBag.Title = "Добавление нового пользователя системы";
}

@section nav {
	@Html.Partial("_TopNavPartial")
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

	
	//var roles = (SimpleRoleProvider)Roles.Provider;
	//var membership = (SimpleMembershipProvider)Membership.Provider;

	//if (!roles.RoleExists("Admin")) {
	//	roles.CreateRole("Admin");
	//}
	//if (membership.GetUser("Admin", false) == null) {
	//	membership.CreateUserAndAccount("Admin", "SuperAdminPassword");
	//}
	//if (!roles.GetRolesForUser("Admin").Contains("Admin")) {
	//	roles.AddUsersToRoles(new[] { "Admin" }, new[] { "Admin" });
	//}
	
    <fieldset>
        <legend>Форма регистрации</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
					<li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
					<li>
                @Html.LabelFor(m => m.Surname)
                @Html.TextBoxFor(m => m.Surname)
            </li>
						<li>
                @Html.LabelFor(m => m.Patronymic)
                @Html.TextBoxFor(m => m.Patronymic)
            </li>
        </ol>
        <input type="submit" value="Регистрация" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
