﻿@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="height: 500px;">
	
	<div class="row">

		<div class="col-md-6">
			<img src="~/Images/Logo/Logo-big.png" class="img-rounded" />
		</div>
		<div class="col-md-6">
				<a href="~/Journal/ViewJournalRB" class="btn btn-large btn-block btn-success">ООО «РелайбТранс»</a>
				<a class="btn btn-large btn-block btn-success">ООО «РТЛ-Транс»</a>
		</div>

	</div>
</div>
