﻿@model IEnumerable<reliableTransApp.Models.DataBaseContext.Customer>

@{
	ViewBag.Title = "Index";
}
@section nav {
	@Html.Partial("_TopNavPartial")
}
@* Модальное окно для добавления клиента *@
@Html.Partial("_CustomerIRBPartial")

<h2>Клиенты</h2>

<a data-toggle="modal"  href="#data-customer-irb .customer-form"> Добавить</a>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Клиент</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="customersTable">
		@foreach(var customer in Model)
	{
		 Guid custId = customer.Id;
		<tr id="@custId.ToString()">
			<td @*style="width: 70px; border-right: 2px solid #808080"*@>
				<a href="javascript:alert('Не реализованно')" title="Подробно"><span class="glyphicon glyphicon-eye-open"></span></a>
				<a href="javascript:alert('Не реализованно')" title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></a>
				<a href="javascript:delCustomer('@custId.ToString()')" title="Удалить"><span class="glyphicon glyphicon-remove"></span></a>	
			</td>
			<td>@customer.GetName()</td>
		</tr>
	}
			
	</tbody>
	@section Scripts {
		@Scripts.Render("~/Scripts/Customer/idx.js")
	}
</table>
