﻿@model reliableTransApp.Models.DataBaseContext.Tariff

@{
	ViewBag.Title = "Тарифы";
}

@section nav {
	@Html.Partial("_TopNavPartial")
}

<h2>Details</h2>

<fieldset>
    <legend>Tariff</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Value)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
