﻿.st
	  {
		margin: 0; 
		padding: 0; 
		width: 20px; 
		height: 60px; 
		border: 1px solid black;
	  }

.st-saved {
	background:#808080;
}

.st-adopted {
	background:#ffd800;
}

.st-send {
	background:#b6ff00;
}

.st-take-back {
	background:#0094ff;
}

.st-delivered {
	background:#ff00dc;
}

.st-invoice {
	background:#000000;
}